<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto text-center">
                            <h1 class="fs-3"
                                style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                Thank you for visiting our website! please find your favorite books here</h1>
                            <figure class="text-center px-3 py-2 fst-italic">
                                <blockquote class="blockquote">
                                    <p>"You want weapons? We’re in a library. Books are the best weapon in the world.
                                        This room’s the greatest arsenal we could have. Arm yourself!..."</p>
                                </blockquote>
                            </figure>
                            <img src="../../../assets/human-books.png" alt="boy with book">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>